!source/**/_extensions/**
*.Rproj
*.[rR][dD]ata
*.[rR]ds
*.dbf
*.doc*
*.eps
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.pdf
*.shp*
*.shx
*.sty
*.tex
*.xls*
*_cache
*_files
*_freeze
*_libs
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
.quarto
/.quarto/
/_freeze
/cc-by.eps
/flanders-state-art.pdf
/flandersqmd-book.tex
/inbo-logo.pdf
/orcid.eps
/report-generic.sty
/report-language.sty
/site_libs
/vlaamse-overheid.pdf
/vlaanderen-wetenschap.pdf
docs
libs
output
renv/library
