on:
  push:
    branches:
      - main

name: quarto

jobs:
  check-src:
    runs-on: ubuntu-latest
    name: "Build document"
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      INPUT_FOLDER: "source"
    permissions:
      contents: write
    steps:
      - uses: inbo/actions/render_quarto@devel
